
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
    
    display: flex;
    flex-direction: column;
}

body{
    background-image: url(imagens/guitarrafogo.jpg);
   /* background-position-y: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%;
    background: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 1.4vh 0 1.4vh;
    border-bottom: white 1px solid;
    z-index: 10;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
}

ul li{
    position: relative;
}

li ul{
    position: absolute;
    top: 102%;
    display: none;
    border: white 1px solid;
}

ul li a{
    display: block;
    display: flex;
    justify-content: right;
    align-self: right;
    text-decoration: none;
    color: #000;
    background: black;
    padding: 15px;
    color: white;


}

li a img{
    width: 30%;
    height: 30%;
    padding: 0 1vh 0 0;
    margin: 0;
    border: 0;
}

li:hover ul{
    display: block;
    
}

ul li a:hover{
    text-decoration:underline;
    font-weight: bold;
}

ul li ul li a{
    justify-content: center;

}

@font-face {
    font-family: 'minhafonte';
    src: url('fonts/Midnight-Terror.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo a{
    font-style: none;
    text-decoration: none;
    color: white;
    font-family: "minhafonte";
    font-size: 2.5vh;
    margin: 0 0 0 2vh;
    
}

footer{
    text-align: center;
    background-color:black;
    border-top: 1px solid white;  
    font-size: 0.8em;
    height: 5vh;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1.5vh ;
    margin-top: 3vh;
}

.tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: larger;
    text-align: right;
    
}



form input, form textarea {
    border: 1px solid black;
    border-radius: 20px;
}
