*{
    margin: 0 ;
    padding: 0;
    
}

html, body{
    height: 100vh;
    width: 100vw;
    margin: 0 ;
    padding: 0;
    background-color:#411e19 ;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    
}

.container-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content{
    flex: 1;
}

img{
    width: 100vw;
    height: 60vh;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    
}


.Textobox{

    margin: 0vh 3.6vh;
    font-family: Copperplate, Papyrus, fantasy; 
    line-height:3.7vh;
    text-justify: auto;
    
}


header{
    background-color: black;
    border-bottom: 1px solid white;
    height: 5vh;
    width: 100vw;
}

main{
    height: 60vh;
    margin-bottom: 5vh;
}

footer{
    text-align: center;
    background-color: black;
    border-top: 1px solid white;  
    font-size: 0.8em;
    height: 5vh;
    width: 100vw;
    padding-top: 1vh;
}


span{
    color: rgb(155, 0, 0);
    text-shadow: -1px -1px 0 #fff;
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    header{
    display: none;
  }

  .Textobox{
    margin: 0 3vh ;
  }

}


