body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
}

#begin{
    display: flex;
    justify-content: center;
}

#hero{
    width: 90%;
    margin-top: 2vh;
    background-color: #282424;
    border-radius: 1.4em;  
    box-sizing: border-box;
    font-weight: 400;
}

#hero h1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3vw;
    margin-bottom: 0;
    margin-top: 2vh;
}

#hero p{
    margin-top: 0;
    color: red;
    padding-left: 3vw;
}

h2{
    text-indent: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    border-top: 0.1vh solid red;
    padding-top: 2vh;
}

.deepcard{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center ;
    background-color: #282424;
    border-radius: 1.4em;
    overflow: auto;
    color: red;
}

@media screen and (min-width: 750px) {
    .deepcard{
        width: 15vw;
        height: 30vh;;
    }      
}

img{
    width: 95%;
    border-radius: 1.4em;  
}

.deepcard:hover{
    width: 20%;
    height: 20%;
}   

footer{
    text-align: center;
    background-color:black;
    border-top: 1px solid white;  
    font-size: 0.8em;
    height: 5vh;
    width: 100%;
    padding-top: 1vh;
    margin-top: 2vh;
}