html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


nav {
    width: 100%;
    background: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 1.4vh 0 1.4vh;
    border-bottom: white 1px solid;
    z-index: 10;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
}

ul li {
    position: relative;
}

li ul {
    position: absolute;
    top: 102%;
    display: none;
    border: white 1px solid;
}





ul li a {
    display: block;
    display: flex;
    justify-content: right;
    align-self: right;
    text-decoration: none;
    color: #000;
    background: black;
    padding: 15px;
    color: white;


}

li a img {
    width: 30%;
    height: 30%;
    padding: 0 1vh 0 0;
    margin: 0;
    border: 0;
}

li:hover ul {
    display: block;

}

ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

ul li ul li a {
    justify-content: center;

}

@font-face {
    font-family: 'minhafonte';
    src: url('../fonts/Midnight-Terror.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo a {
    font-style: none;
    text-decoration: none;
    color: white;
    font-family: "minhafonte";
    font-size: 2.5vh;
    margin: 0 0 0 2vh;

}

.section1 {
    flex: 1;
    margin-top: 52px;
    border-bottom: 1px solid white;
    /* background: rgb(83, 83, 83); */
    /* background: radial-gradient(circle, rgba(83, 83, 83, 1) 20%, rgba(9, 9, 121, 0) 100%);
    background-size: 400%;
    background-position: 0% 50%;
    background-repeat: repeat-y;
     */
}

hr {
    margin: 0;
}

footer {
    text-align: center;
    background-color: black;
    border-top: 1px solid white;
    font-size: 0.8em;
    height: 5vh;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1.5vh;
    margin-top: 3vh;
}

/* fazendo a main */
.marginMain {
    margin: 0 2vh 0 2vh;
    padding: 0.5vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    visibility: show;
}



.container-coluna {

    width: 100%;
    height: 100%;
    margin: 2.5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: gray; */
    padding: 2.3vh 0 2vh 0;
    border-radius: 1.4em;
    /* background: rgb(83, 83, 83);
    background: radial-gradient(circle, rgba(83, 83, 83, 1) 0%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
}

.mini-container {

    margin: 0 auto;
    /* background: lightgray; */
    margin: 2px;
    padding: 1vh;
    border-radius: 1.4em;
    /* background: rgb(83, 83, 83);
    background: radial-gradient(circle, rgba(83, 83, 83, 1) 0%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%; */
}


h1 {
    color: white;
    text-align: left;
    margin: 0;
    margin-bottom: 1vh;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    color: lightgray;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 1vh;
    font-family: 'Alice', sans-serif;
}

.ajustar {
    margin: 0.5vh 2vh 2vh 2vh;
}

.mini-container div {
    padding-bottom: 1vh;
    font-size: 1.1rem;
}

#paitags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 1.5vh;
    padding-left: 6vh;
    padding-right: 1vh;
    padding-bottom: 0vh;
}

.tags {
    background-color: white;
    color: black;
    padding: 1vh 2vh;
    border-radius: 1.4em;

}

#paiIframe {
    margin: 1vh 0;
}

#paiInfluencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.influencia {
    flex: 1;
}



@media screen and (min-width: 750px) {
    .marginMain {
        flex-direction: row;
        justify-content: space-between;
        margin: 1vh;
    }

    main {
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* .section1 {
        background: radial-gradient(circle, rgba(83, 83, 83, 1) 0%, rgba(9, 9, 121, 0) 100%);
        background-size: 200%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    } */


    .container-coluna {
        margin: 2.5vh;

    }

    #paiInfluencia {
        flex-direction: row;
        justify-content: space-between;
    }

    .stiky {
        position: sticky;
        z-index: 0;
        top: 10vh;
        offset: 5000vh;
        width: 70%;
    }


}

.stiky div img{
    border-radius: 10%;
}

/* css do carrossel */

.direction {
    text-align: center;
    margin-bottom: 2vh;
}

.direction button {
    font-family: cursive;
    font-weight: bold;
    background-color: #87210f;
    border: none;
    width: 7vh;
    height: 5vh;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 10px;
}



.direction button:hover {
    background-color: maroon;
}

/*INICIO DA ALTERAÇÃO CARROSSEL*/    

.item3 {
    border-radius: 5%;
    width: 25vw;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin: 1vh;
}

.item3 .avatar {
    margin: 3vh auto 1vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    flex: 1;
}

.item3 .content {
    padding: 3vh;
    text-align: center;
    font-family: monospace;
}



.item {
    border-radius: 5%;
    width: 25vw;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin: 1vh;
    scroll-snap-align: start;
}

.item .avatar {
    margin: 3vh auto 1vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    flex: 1;
}

.item .content {
    padding: 3vh;
    text-align: center;
    font-family: monospace;
}

.item2 {
    border-radius: 5%;
    width: 25vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    
    transition: 0.5s;
    margin: 1vh;
    scroll-snap-align: start;
}

.item2 .avatar {
    margin: 3vh auto 1vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.item2 .content {
    padding: 3vh;
    text-align: center;
    font-family: monospace;
}

#list {
    display: flex;
    width: max-content;
}

#formList {
    width: 100%;
    overflow: auto;
    margin: 2vh auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}


#formList2 {
    width: 100%;
    overflow: auto;
    margin: 2vh auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}


#formList::-webkit-scrollbar {
    display: none;
}

#formList2::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1024px) {
    .item {
        width: calc(33.3vw - 20px);
    }
}

@media screen and (max-width: 768px) {
    .item {
        width: calc(50vw - 20px);
    }
}

@media screen and (max-width: 1024px) {
    .item2 {
        width: calc(33.3vw - 20px);
    }
}

@media screen and (max-width: 768px) {
    .item2 {
        width: calc(50vw - 20px);
    }
}

/*FINAL DA ALTERAÇÃO CARROSSEL*/

.titulo {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 3vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    margin-bottom: 1vh;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: 'Alice';
    src: url(../font/Alice-Regular.ttf) format('truetype');
    ;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

.paibutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 1.5vh;
    padding-left: 3vh;
    padding-right: 1vh;
    padding-bottom: 1.2vh;
}

.button {
    background-color: white;
    color: black;
    padding: 1vh 2vh;
    border-radius: 1.4em;

}

#categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-top: 1.5vh;
    padding-left: 3vh;
    padding-right: 1vh;
    padding-bottom: 1.2vh;
}

#paiItens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 2vh;
}

@media screen and (max-width: 426px) {
    #paiItens {
        flex-direction: column;
        margin: 0;
    }

    .item3{
        margin: 2vh 2vh;
        width: 80%;
    }
}
    

#imagemDireita img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.container-coluna div p{
    font-size: 2vh;
}

.containerEsquerdo h1{
    font-size: 3.2vh;
}

.containerEsquerdo p{
    font-size: 2.2vh;
}

@font-face{
    font-family: 'newrock';
    src: url(../fonts/NewRocker-Regular.ttf) format('truetype');
}

.titulo h1{
    font-family: 'newrock', sans-serif;
}

/* CARDS */


#card1{
    /* rock classico */
    background: radial-gradient(circle, rgba(83, 83, 83, 1) 0%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card2{
    /* hard rock */
    background: radial-gradient(circle, #303840 0%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
    
}

#card3{
    /* heavy metal */
    background: radial-gradient(circle, #d93c43 0%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card4{
    /* rock progressivo */
    background: radial-gradient(circle, #983830 0%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card5{
    /* beetles */
    background: radial-gradient(circle, #304850 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card6{
    /* rolling stones */
    background: radial-gradient(circle, #283848 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card7{
    /* led zepeling */
    background: radial-gradient(circle, #535353 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card8{
    /* AC/DC */
    background: radial-gradient(circle, #747878 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card9{
    /* queen */
    background: radial-gradient(circle, #c84048 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card10{
    /* guns n roses */
    background: radial-gradient(circle, #957124 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card11{
    /* black sabbath */
    background: radial-gradient(circle, #402020 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card12{
    /* iron maiden */
    background: radial-gradient(circle, #901810 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card13{
    /* metallica */
    background: radial-gradient(circle, #917300 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card14{
    /* pink floyd */
    background: radial-gradient(circle, #535353 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card15{
    /* rush */
    background: radial-gradient(circle, #535353 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card16{
    /* dream theather */
    background: radial-gradient(circle, #7d7575 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card17{
    /*  noticia1*/
    background: radial-gradient(circle, rgba(166,78,11,0.7877275910364145) 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card18{
    /*noticia2*/
    background: radial-gradient(circle, rgba(142,132,16,0.7877275910364145) 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card19{
    /*noticia3*/
    background: radial-gradient(circle,  rgba(166,21,11,0.7877275910364145) 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card20{
    /*noticia4*/
    background: radial-gradient(circle, rgba(87,10,145,0.7877275910364145) 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}

#card21{
    /*noticia5*/
    background: radial-gradient(circle, rgba(135,14,63,0.7877275910364145) 30%, rgba(9, 9, 121, 0) 100%);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% 50%;
}


.item2 img{
    width: 100%;
    height: 10vh;
}

button{
    font-family: 'newrock';
}

